{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %} All Discussions {% endblock %}

{% block description %} Quran, All translations in serveral languages, Quran {{cnum}}:{{vnum}}, {% for c in comments %} {{c.ctext}}, {% endfor %} {% endblock %}
{% block keywords %} Quran, chapter {{cnum}}, verse {{vnum}}, Quran {{cnum}}:{{vnum}} {% endblock %}

{% block content %}
<div class="homemsg">
	{% if msg_body %}
		<div class="title">{{msg_body}}</div>
	{% endif %}
</div>

<h4>Recent Discussions</h4>

<div class="subtitle">Reply to comments in the details of the verse</div>

{% for c in comments %}

<div class="commentBox">
	<div class="verseTxt">
		Posted by {% if c.comment.user.first_name != "" or c.comment.user.last_name != "" %} {{c.comment.user.first_name}} {{c.comment.user.last_name}} {% else %} {{c.comment.user}} {% endif %} : 
		
		<a href="/{{c.comment.cnum}}/{{c.comment.vnum}}/">{{c.comment.ctext|truncatechars:100}}</a>
	</div>
	<div class="verseAuth">
		<span style="{% if c.comment.comment_type == 'Question' %}background:#edf; {% elif c.comment.comment_type == 'Explanation' %} background:#efd; {% endif %}">As a {{c.comment.comment_type}} on verse <a href="/{{c.vnum}}/{{c.cnum}}/">{{c.comment.cnum}}:{{c.comment.vnum}}</a> posted on {{c.comment.date_published}} 
		and there are {{c.count}} comment(s) on this verse.</span>
	</div>
	<span class="linkBtn"><a href="/{{c.comment.cnum}}/{{c.comment.vnum}}/">More Details</a></span>
</div>

{% endfor %}



{% endblock %}
